<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste des Catways - Russell</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/lucide@latest"></script>

</head>

<script>
    lucide.createIcons();
</script>

<body>
    <div class="dashboard-container">

        <%- include('partials/sidebar') %>

            <main class="main-content">
                <header class="header">
                    <h1>Gestion des Catways</h1>
                    <a href="/catways/create"
                        style="padding: 10px; background: #27ae60; color: white; text-decoration: none; border-radius: 4px;">+
                        Nouveau Catway</a>
                </header>

                <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Type</th>
                                <th>État</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% catways.forEach(catway=> { %>
                                <tr>
                                    <td><strong>
                                            <%= catway.catwayNumber %>
                                        </strong></td>
                                    <td>
                                        <%= catway.catwayType %>
                                    </td>
                                    <td>
                                        <%= catway.catwayState %>
                                    </td>
                                    <td>
                                        <a href="/catways/<%= catway.catwayNumber %>"
                                            class="btn-action btn-details">Détails
                                            / Modifier</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
    </div>
</body>

</html>