<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head') %>
</head>

<script>
    lucide.createIcons();
</script>

<body>
    <div class="dashboard-container">

        <%- include('partials/sidebar') %>

            <main class="main-content">
                <header class="header">
                    <h1>Gestion des Catways</h1>
                    <a href="/add-catway" class="btn-create">
                        <i class="bi bi-plus-lg"></i> Nouveau Catway
                    </a>
                </header>

                <div class="card">
                    <table>
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Type</th>
                                <th>État</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% catways.forEach(catway=> { %>
                                <tr>
                                    <td><strong>
                                            <%= catway.catwayNumber %>
                                        </strong></td>
                                    <td>
                                        <%= catway.catwayType %>
                                    </td>
                                    <td>
                                        <%= catway.catwayState %>
                                    </td>
                                    <td>
                                        <a href="/catway-detail/<%= catway.catwayNumber %>"
                                            class="btn-action btn-details">Détails
                                            / Modifier </a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
    </div>
</body>

</html>